:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #28a745;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #28a745;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

::selection {
  color: var(--bs-white);
  background: var(--bs-indigo);
}

::-moz-selection {
  color: var(--bs-white);
  background: var(--bs-indigo);
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition-duration: 500ms;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* slide to right */
.slide-to-right-leave-active,
.slide-to-right-enter-active {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 100%;
  transition: 500ms;
}
.slide-to-right-enter {
  transform: translateX(-100%);
}
.slide-to-right-leave-to {
  transform: translateX(100%);
}

/* slide to left */
.slide-to-left-leave-active,
.slide-to-left-enter-active {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 100%;
  transition: 500ms;
}
.slide-to-left-enter {
  transform: translateX(100%);
}
.slide-to-left-leave-to {
  transform: translateX(-100%);
}

/* slide to top */
.slide-to-top-leave-active,
.slide-to-top-enter-active {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 100%;
  transition: 500ms;
}
.slide-to-top-enter {
  transform: translateY(100%);
}
.slide-to-top-leave-to {
  transform: translateY(-100%);
}

/* slide to bottom */
.slide-to-bottom-leave-active,
.slide-to-bottom-enter-active {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 100%;
  transition: 500ms;
}
.slide-to-bottom-enter {
  transform: translateY(-100%);
}
.slide-to-bottom-leave-to {
  transform: translateY(100%);
}
